.sidebar {
  padding: 2rem;
  border: 2px solid #333;
  margin: 2rem;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.avatar-box {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  overflow: hidden;
}
.avatar-box img{
    background-size: cover ;
}
.info-content {
  text-align: center;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.title {
  font-style: italic;
  color: #777;
}

.info_more-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.contacts-list,
.social-list {
  list-style-type: none;
  padding: 0;
}

.contact-item,
.social-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-box {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #ddd;
}

.separator {
  background-color: #333;
  height: 2px;
  width: 100%;
  margin: 1.5rem 0;
}
.social-list{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}